*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
background-size: cover;
background-position: center;
color: white;
}


.line{
    width: 600px;
    align-items: center;
    margin-left: 7px;
    margin-top: 15px;
}
.navbar{
    display: flex;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.navbar li{
    list-style-type: none;
    margin-right: 50px;
}

.hhh{
background-color: rgba(240, 248, 255, 0.36);
display: flex;
padding: 10px;
}

.hhh a:hover{
    border-bottom: 7px solid grey;
    padding: 8px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.dots{
    display: flex;
    /* gap: 2px; */
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #24047e;
    margin-left: 50px;
    margin-bottom: 30px;
}
.dot.active{
    background-color: white;
}
span{
    color: grey;
    margin-right: 5px;
}
.cre{
    margin-left: 40px;
    margin-top: 30px;
}
h3{
    font-size: 22px;
    color: grey;
}
h1{
    font-size: 70px;
}
p{
    width: 30rem;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 25px;
}
.all{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.info{
    margin-top: 290px;
}