*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
background-size: cover;
background-position: center;
color: white;
}


.line{
    width: 600px;
    align-items: center;
    margin-left: 7px;
    margin-top: 15px;
}
.navbar{
    display: flex;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.navbar li{
    list-style-type: none;
    margin-right: 50px;
}

.hhh{
background-color: rgba(240, 248, 255, 0.36);
display: flex;
padding: 10px;
}

.hhh a:hover{
    border-bottom: 7px solid grey;
    padding: 8px;
}


.navbar a{
    text-decoration: none;
    color: white;
}

#planetImage{
    width: 300px;
}
ul{
    display: flex;
    gap: 20px;
    /* padding: 30px; */
    list-style-type: none;
}
ul li:hover{
    border-bottom: 5px solid grey;
    /* padding: 3px; */
}
.active{
    border-bottom: 5px solid grey;
}
h3{
    font-size: 70px;
    margin-top: 40px;
}
#desc{
    width: 36rem;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 20px;
}
.average{
    display: flex;
    gap: 50px;
}

.line{
    width: 570px;
    margin-bottom: 20px;
}
span{
    color: grey;
    margin-right: 5px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
}
.dest{
    margin-top: 40px;
    margin-left: 40px;
}
p{
    font-size: 30px;
}
.ave{
    font-size: 17px;
}