*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
background-size: cover;
background-position: center;
color: white;
}


.line{
    width: 600px;
    align-items: center;
    margin-left: 7px;
    margin-top: 15px;
}
.navbar{
    display: flex;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.navbar li{
    list-style-type: none;
    margin-right: 50px;
}

.hhh{
background-color: rgba(240, 248, 255, 0.36);
display: flex;
padding: 10px;
}

.hhh a:hover{
    border-bottom: 7px solid grey;
    padding: 8px;
}

.navbar a{
    text-decoration: none;
    color: white;
}