*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
background-size: cover;
background-position: center;
}


.line{
    width: 600px;
    align-items: center;
    margin-left: 7px;
    margin-top: 15px;
}
.navbar{
    display: flex;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.navbar li{
    list-style-type: none;
    margin-right: 50px;
}

.hhh{
background-color: rgba(240, 248, 255, 0.36);
display: flex;
padding: 10px;
}

.hhh a:hover{
    border-bottom: 7px solid grey;
    padding: 8px;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.logo{
    border-radius: 50%;
}
.space{
    width: 50%;
    /* border: 1px solid red; */
}
.space h5{
    color: white;
    word-spacing: 5px;
    padding: 10px;
    font-size: 20px;
}
.space h1{
    color: white;
    font-size: 10 n0px;
    padding: 10px;
    word-spacing: 3px;
    font-size: 100px;
}
.space p{
    color: white;
    width: 39rem;
    line-height: 29px;
    padding: 8px;
    font-size: 25px;
    word-spacing: 2px;
}
.explore {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    margin-top: 30px;
    transition: box-shadow 00.3s ease;
}
.space-all{
    display: flex;
    justify-content: center;
    margin-top: 190px;
}
.explore:hover{
    box-shadow: 15px 15px 15px 10px rgba(0, 0 , 0.5, 0.5);
}